
.welcome-gradient{
    min-width: 360px;
    height: 540px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.87) 0%, rgba(34, 34, 34, 0.48) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.welcome-mobile-div{
    background-image: url("https://s3-alpha-sig.figma.com/img/adfc/8fd0/85372b9b89239293b1c75db89c0bf0f4?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=q1rIxTK5MKUTBuvjEOpyrpRQPwjs11G6P-NjmCfBd9Vhf0B1zmwEpXwG9GdRGvzMe5KAD3z7~arEnhyN0niNssklq5eLsMhPaFV27YisXZVSD5VxtoY6cl5E4tRjlpgQRLCzknnbIGBxIIVSYXDSxCTv5RV9reC44TJCVAIrLESIWy7lE4biLYpAdk4LNqt0u53L~KzcShK7CTt6n74CBVneLObKaRhYoAsAtzzmJQWic9qfw9o0wIf-AAsgx3QQJ~d~vqFnMIiQtsKmZ4~QWceI~y0cvbScH1ZUDPdMOdGnxF~4XtKbBxdDzA377J7uBfanQ9cROeNbtMkNgoSjZg__");
    background-size: cover;
}
.welcome-content-div{
    width: Fixed (334px)px;
    height: Hug (360px)px;
    top: 200px;
    left: 13px;
    gap: 40px;
    opacity: 0px;
    padding-left: 17px;

}
.namaste-para{
    font-family: Nexa Light;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FFF7E2;
}
.welcome-heading{
    font-family: DINPro-Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    color: white;
}
.para-2{
    font-family: DINPro;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;   
    color: #C9C9C9;
}
.book-button{
    width: Fixed (214px)px;
    height: Fixed (50px)px;
    padding: 24px 40px 20px 40px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background: #3A643B;
    font-family: DIN Medium;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: white;
    border: none;
    margin-left: -37%;
    margin-top: 15px;
}
.book-button:hover{
    background-color: rgb(214, 83, 83);
}
@media screen and (min-width: 577px) {
    .welcome-mobile-div{
        background-image: url("https://s3-alpha-sig.figma.com/img/c1af/953f/807faed30071845860b212ed47717559?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IHZz7ngJyjHmSF3Xm~Mbmvsh6XIGK9xbBYq-L7n5ZTjCHFEQbQr1XyMV0WG-YCDnhsIkxbvKacEjSMcM7IEPcK3Q4Jd4BbMPu19w7-T5~mzrToEY558ThHLz3JHbOgpzwhLkbcD37ZT9hFAnO3yx98Fm4By3YMFtyS-53wCc7Ew8wt4EBlyLzKbMuXck9MiKZLQuUo9Ix-dAeooFTnes0gZmB6JwfOhpz8JPT1jASjmtgXJ1UKtMpOGHh-jGZtoSSRJYYD8cGJDRcnOYTjke7b~xJ4DhrZaWzU-tX~Z35mdUZSoItA9bH8nbD0rWXmKnMiL84ppuGNQxQYEo9uhJjA__");
        background-size: cover;
    }
    .welcome-gradient{
        width: 900px;
        height: 639px;
        top: 80px;
        left: -2px;
        gap: 0px;
        opacity: 0px;
        width: 789px;
        background: linear-gradient(90.17deg, rgba(18, 18, 18, 0.88) 1.03%, rgba(18, 18, 18, 0.92) 44.18%, rgba(1, 1, 1, 0) 95.15%);
    }
    .welcome-content-div{
        padding-left: 57px;
    }
    .namaste-para{
        font-size: 22px;
    }
    .welcome-heading{
        font-size: 30px; 
    }
    .para-2{
        font-size: 20px; 
    }
    .book-button{
    margin-left: -57%;
    }
}